---
---

@import "{{ site.theme }}";

header {
  padding-bottom: 20px;
}

section {
  padding-top: 20px;
}

h1, h2, h3 {
  color: #333;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 40px 0;
}

.fa {
  margin-right: 5px;
}
